<div>
    Choose your filters
    <div class="checkbox" ng-repeat="filter in filters">
        <label><input type="checkbox" value="" ng-bind="filter.value">{{filter.name}}</label>
    </div>
    <div class="form-group">
        <input type="text" class="form-control" placeholder="Field 1">
    </div>
    <div class="form-group">
        <input type="text" class="form-control" placeholder="Field 2">
    </div>
    <button type="button" class="btn btn-default" ng-click="onGoButtonPress()">Go</button>
</div>